.header{
    width: 100%;
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    :is(span){
        margin-left: 10px;
    }
}